*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(0, 0, 46);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 1, 74);
    height: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 5px solid white;
    border-style: ridge;
}
.texts{
    /* position: absolute; */
}
.texts a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin-right: 40px;
    position: relative;
}
.texts a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: white;
    transition: 0.5s;
}
.texts a:hover::after{
    width: 100%;
}
.word{
    font-size: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 23, 88);
    width: 100vw;
    height: 50vh;
}
@media only screen and (max-width: 425px){
    .navbar{
        background-color: rgb(6, 1, 74);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .texts a{
        font-size: 15px;
        margin-right: 10px;
    }
    .word{
        width: 100vw;
        height: 50vh;
    }
    .word p{
        font-size: 20px;
    }
}